<div class="section-container">
  <h1>Listing Authors</h1>

  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th colspan="3">Action</th>
      </tr>
    </thead>

    <tbody>
      <% @authors.each do |author| %>
        <tr>
          <td><%= author.username %></td>
          <td><%= author.email %></td>
          <td><i class="fa fa-eye"></i> <%= link_to 'View', author %></td>
          <% if is_admin? || author.username.to_s == current_user.to_s %>
            <td><i class="fa fa-pencil"></i> 
              <%= link_to 'Edit', edit_author_path(author) %>
            </td>
            <td><span class="color"><i class="fa fa-remove"></i></span> 
              <%= link_to 'Delete', author, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          <% else %>
            <td><i class="fa fa-pencil"></i> Edit</td>
            <td><span class="color"><i class="fa fa-remove"></i></span> Delete</td>
          <% end %>
          <!-- <td><i class="fa fa-pencil"></i>  -->
            <% link_to_if(current_user.to_s == "admin"  || author.username.to_s == current_user.to_s,
            'Edit', edit_author_path(author)) {} %></td>
          <!-- <td><span class="color"><i class="fa fa-remove"></i></span>  -->
            <% link_to_if(current_user.to_s == "admin"  || author.username.to_s == current_user.to_s,
            'Delete', author, :confirm => 'Are you sure?', :method => :delete) {} %>
          <!-- </td> -->
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <i class="fa fa-user-plus"></i> <%= link_to 'New Author', new_author_path %>
</div>